<div class="home">
  <div class="search-component">
    <h1 class="title">
      <span class="title-word-search">Search </span>
      <span class="title-word-devs">d_devs</span>
    </h1>
    <div class="search-bar-container">
      <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input #searchBox type="text" placeholder="Search" />
      </div>
      <button class="search-button" (click)="search(searchBox.value)">
        Search
      </button>
    </div>
  </div>
</div>
