$secondary-text-color: #4a5568;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
  max-width: 800px;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  font-size: 10vw;
  margin: 0 0 4vw 0;
}

.title-word-search {
  color: #0069ca;
}
.title-word-devs {
  color: #8c19d2;
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px 0px #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-right: 10px;
  width: 80%;
  height: 48px;
}

.search-icon {
  color: #a0aec0;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  color: $secondary-text-color;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

.search-button {
  width: 176px;
  height: 48px;
  background-color: #8c19d2;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #0069ca;
}

.search-button:active {
  background-color: #0069ca;
}

.search-bar input::placeholder {
  color: #8c8c8c;
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 80px;
    margin: 0 0 60px 0;
  }
}

@media screen and (max-width: 620px) {
  .search-bar-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  .search-bar {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 30px;
  }
}
