@import "src/styles/variables/colors";
@import "src/styles/variables/typography";

.perfil {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10vw;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-bottom: 20px;
}

.profile-search {
  display: flex;
  gap: 5vw;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.logo {
  font-family: $logo-font-family;
  font-weight: 100;
  font-size: 3.2vw;
  margin: 0;

  a {
    display: flex;
    gap: 0.3rem;
  }

  .logo-word-search {
    color: $primary-theme-color;
  }
  .logo-word-devs {
    color: $secondary-theme-color;
  }
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .search-bar {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px 0px $box-shadow-color;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 48px;
    margin-right: 10px;

    .search-icon {
      color: $tertiary-text-color;
      margin-right: 10px;
    }

    input {
      color: $secondary-text-color;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      width: 100%;
      &:placeholder {
        color: $placeholder-color;
      }
    }
  }

  .search-button {
    width: 176px;
    height: 48px;
    font-size: 16px;
  }
}

main {
  display: flex;
}

aside {
  display: flex;
  width: 30%;
  min-width: 250px;
  flex-direction: column;
  justify-content: left;
  margin-right: 50px;
  padding: 15px;
}

.repositories {
  flex: 1;
  min-width: 400px;
  max-height: 80vh;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.4em;
    background-color: #e2e8f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 8px;
  }
}

@media screen and (max-width: 850px) {
  .perfil {
    padding: 0;
  }

  .profile-search {
    flex-direction: column;
    gap: 15px;
  }

  .search-bar-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-bar {
    margin: 0;
  }

  aside {
    background-color: #eaddff;
    width: 100%;
  }

  main {
    flex-direction: column;
    gap: 20px;
  }

  .repositories {
    overflow-y: hidden;
    min-width: 250px;
    max-height: unset;
  }
}

@media screen and (min-width: 320px) {
  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 32px;
  }
}
