:root {
  --primary-text-color: #171923;
  --secondary-text-color: #4a5568;
  --tertiary-text-color: #a0aec0;

  --primary-theme-color: #0069ca;
  --secondary-theme-color: #8c19d2;

  --button-background-color: #8c19d2;
  --button-background-hover-color: #0069ca;

  --box-shadow-color: #ccc;
  --placeholder-color: #8c8c8c;

  --logo-font-family: "Nunito", sans-serif;
  --default-font-family: "Inter", sans-serif;
}
