$secondary-text-color: #4a5568;

.profile {
  .profile-head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .profile-name {
      font-weight: bold;
      font-size: 20px;
    }
    .profile-nickname {
      color: #a0aec0;
      font-size: 14px;
    }
  }

  .profile-body {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 21px;

    @media screen and (max-width: 850px) {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    .profile-bio-container {
      @media screen and (max-width: 850px) {
        display: flex;
        flex-direction: column-reverse;
      }

      .profile-follows {
        @media screen and (max-width: 850px) {
          display: flex;
          gap: 15px;
          margin-bottom: 15px;
        }
      }

      .profile-following {
        margin-bottom: 15px;
        @media screen and (max-width: 850px) {
          margin-bottom: 0;
        }
      }
    }

    .profile-bio {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .profile-info {
      display: block;

      app-icon {
        display: inline-block;
        font-size: 25px;
        vertical-align: middle;
        width: 30px;
      }
    }
  }
}
