@import "src/styles/variables/colors";
@import "src/styles/variables/typography";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
  max-width: 800px;

  .logo {
    font-family: $logo-font-family;
    font-weight: 100;
    font-size: 10vw;
    margin: 0 0 4vw 0;

    .logo-word-search {
      color: $primary-theme-color;
    }
    .logo-word-devs {
      color: $secondary-theme-color;
    }
  }
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .search-bar {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px 0px $box-shadow-color;
    border-radius: 6px;
    padding: 10px;
    margin-right: 10px;
    width: 80%;
    height: 48px;

    .search-icon {
      color: $tertiary-text-color;
      margin-right: 10px;
    }

    input {
      border: none;
      outline: none;
      color: $secondary-text-color;
      background-color: transparent;
      font-size: 16px;
      width: 100%;
    }
  }

  .search-button {
    width: 176px;
    height: 48px;
    font-size: 16px;
  }

  .search-bar input::placeholder {
    color: $placeholder-color;
  }
}

@media screen and (min-width: 800px) {
  .home-search {
    .logo {
      font-size: 80px;
      margin: 0 0 60px 0;
    }
  }
}
@media screen and (max-width: 300px) {
  .home-search {
    .logo {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 620px) {
  .search-bar-container {
    flex-wrap: wrap;
    gap: 20px;

    .search-bar {
      margin: 0;
      width: 100%;
    }
  }
}
