<div class="home">
  <div class="home-search">
    <h1 class="title">
      <span class="title-word-search">Search </span>
      <span class="title-word-devs">d_devs</span>
    </h1>
    <div class="search-bar-container">
      <div class="search-bar">
        <app-icon [iconName]="'search'" class="search-icon"></app-icon>
        <input #searchBox type="text" placeholder="Search" (keyup.enter)="search(searchBox.value)"/>
      </div>
      <button class="search-button" (click)="search(searchBox.value)">
        Search
      </button>
    </div>
  </div>
</div>
