/* You can add global styles to this file, and also import other style files */
@import "styles/variables/colors";
@import "styles/variables/typography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: $default-font-family;
  color: $primary-text-color;
}

a {
  all: unset;
  cursor: pointer;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $secondary-text-color;

  .error-icon {
    font-size: 50px;
    opacity: 0.3;
  }
}
